{% extends "base.html" %}

{% block content %}
	<div style="overflow: hidden;margin-top:20px;">
		<div style="float:left;margin-right:10px;">
			<img src="{{user.avatar(128)}}" />
		</div>
		<div style="overflow: hidden;">
			<span>User: {{user.nickname}}</span>
			{% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
			{% if user.last_seen %}<p>Last seen on: {{user.last_seen}}</p>{% endif %}
			{% if user.id == g.user.id %}<p><a href="{{url_for('edit')}}">Edit</a></p>{% endif %}
		</div>
	</div>
	{% include "post.html" %}
{% endblock %}